// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field input:not([type='checkbox']) {
  min-width: 184px;
  padding: 5px;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.field input:focus {
  border: solid 2px #969696;
}

input[type=submit] {
  width: 184px;
}

form {
  top: 0; left: 0; bottom: 0; right: 0;
  width: 200px;
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
}